<h2><span><%= @schedule.date.strftime("%m月%d日") %></span> <span><%= @schedule.place %></span></h2>
<h2 class="title"><%= simple_format(@schedule.title) %></h2>
<p class="mbp10">
<% if @schedule.types == 0 %>
<span>OPEN：<%= @schedule.open_time.strftime("%H:%M") %> / START：<%= @schedule.start_time.strftime("%H:%M") %></span><br>
<span>前売り：¥<%= @schedule.adv.to_s(:delimited) %> / 当日：<%= @schedule.door.to_s(:delimited) %> ※Drink別</span>
<% end %>
</p>

<% if @schedule.types == 0 %>
  <section class="schedule_cast">
    <% if @schedule.appearances.present? %>
      <h3>出演</h3>
    <% end %>
    <%= simple_format(@schedule.appearances) %>
  </section>
<% end %>

<section class="schedule_details">
  <%= auto_link(simple_format(@schedule.details), :all, :target => "_blank" ) %>
</section>

<p><%= link_to("戻る", :back) %>
</p>
