<nav class="mainNavi">
  <ul>
    <li><%= link_to("TOP", {:controller => :mains, :action => :index}) %></li>
    <li><%= link_to("WHAT's VAMPIRE ROSE", {:controller => :mains, :action => :what}) %></li>
    <li><%= link_to("NEWS", {:controller => :news, :action => :index}) %></li>
    <li><%= link_to("SCHEDULE", {:controller => :schedules, :action => :index}) %></li>
    <li><%= link_to("DISCOGRAPHY", {:controller => :discographies, :action => :index}) %></li>
    <li><%= link_to("ITEM", {:controller => :items, :action => :index}) %>
    </li>
    <li><%= link_to("CLAN OF BLOOD ROSE", {:controller => :clans, :action => :index}) %></li>
    <li><%= link_to("CONTACT", {:controller => :contacts, :action => :index}) %></li>
  </ul>
  <aside>
    <ul class="sns_area">
      <li><%= link_to(image_tag("/images/Twitter_Logo.png"), "https://twitter.com/fromvampirerose", {:target => "_blank"}) %>
      </li>
      <li><%= link_to(image_tag("/images/instagram.png"), "https://www.instagram.com/from_vampire_rose/", {:target => "_blank"}) %>
      </li>
    </ul>
    <p><%= link_to(image_tag("/images/amebn.jpg"), "https://ameblo.jp/from-vampire-rose/", {:target => "_blank"}) %></p>
  </aside>
</nav>
