<h2>ITEM</h2>
<div class="flex_box item_nav tab_nav">
  <div class="thcal tab_nav_default">CD</div>
  <div class="thcal">DVD</div>
  <div class="thcal">GOODS</div>
</div>
<section class="items_section tab_contents tab_content_default">
  <h3>CD</h3>
  <div class="flex_box">
    <% @item_cd.each do |i| %>
      <div class="thcal">
        <%= image_tag("/images/#{i.img}") %>
        <p><%= i.release_number %><br><%= i.title %><br>¥<%= number_with_delimiter(i.price) %></p>
      </div>
    <% end %>
  </div>
</section>
<section class="items_section tab_contents">
  <h3>DVD</h3>
  <div class="flex_box">
    <% @item_dvd.each do |i| %>
      <div class="thcal">
        <%= image_tag("/images/#{i.img}") %>
        <p><%= i.release_number %><br><%= i.title %><br>¥<%= number_with_delimiter(i.price) %></p>
      </div>
    <% end %>
  </div>
</section>
<section class="items_section tab_contents">
  <h3>GOODS</h3>
  <div class="flex_box">
    <% @good.each do |i|%>
      <div class="thcal">
        <%= image_tag("/images/#{i.img}") %>
        <p><%= i.title %><br>
        <% if i.price.present? %>
          ¥<%= number_with_delimiter(i.price) %>
        <% else %>
          <% if i.status.present? %>
            <%= i.status %>
          <% end %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
</section>
<p class="center">
  <%= link_to("ご購入に関するお問い合わせはこちら", :action => :contact) %>
</p>
