<h2>DISCOGRAPHY</h2>
<section class="release_types">
  <h2>Single</h2>
  <div class="flex_box">
    <% @single.each do |s| %>
      <div class="thcal">
        <%= image_tag("/images/#{s.img}") %>
        <%= link_to({:action => :show, :id => s.id}) do %>
          <div class="release_data">
            <%= s.release_number %><br><%= s.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="release_types">
  <h2>Album</h2>
  <div class="flex_box">
    <% @album.each do |a| %>
      <div class="thcal">
        <%= image_tag("/images/#{a.img}") %>
        <%= link_to({:action => :show, :id => a.id}) do %>
          <div class="release_data">
            <%= a.release_number %><br><%= a.title %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="release_types">
  <h2>DVD</h2>
  <div class="flex_box">
    <% @dvd.each do |d| %>
      <div class="thcal">
      <%= image_tag("/images/#{d.img}") %>
        <%= link_to({:action => :show, :id => d.id}) do %>
          <div class="release_data">
            <%= d.release_number %><br><%= d.title %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
