<!DOCTYPE html>
<html>
  <head>
    <title>Vampirerose</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="説明しよう！！VAMPIRE ROSEとは銀座レストランヴァンパイアカフェの主ローズ伯爵が吸血鬼による世界制圧の為に覚醒したソロプロジェクト！！普段はヴァンパイアカフェで飲食業をやっておるぞ！そう、VAMPIRE ROSE(ローズ伯爵)は会いにいけるヴァンパイアなのだ！">
    <meta name="google-site-verification" content="HSLO-DLRvVSCzfIVM9AZ27gPzago7izATmp8TDokAKo" />
    <title>VAMPIRE ROSE</title>
  </head>

  <body>
    <header>
      <h1><%= image_tag("/images/logo.jpg", :alt => "VAMPIRE ROSE") %></h1>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="wrapper">
      <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" %>
        <%= render :partial => "/shared/sidebar" %>
      <% end %>
      <div class="nav-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <section class="main <% if controller.controller_name == "sessions" || controller.controller_name == "registrations"%>admin<% end %>"> 
        <%= yield %>
      </section>
    </div>
    <footer>
      <span class="footer">(C)copyright VAMPIRE ROSE 2014- all rights reserved.</span>
    </footer>
  </body>
</html>
